body{
    margin: 0;
    font-family: "Bookman Old Style", serif;
}

.container{
    display: grid;
    grid-template-rows: minmax(100px, auto) minmax(800px, 6fr) minmax(100px, auto);
    grid-template-columns: 1fr;
}

.header, .footer{
    display: grid;
    grid-template: 1fr / max-content  10fr max-content;
    background-color: darksalmon;
    padding: 0 20px;
}
.header__label, .footer__label{
    text-align: center;
    font-family: "Brush Script MT", serif;
    margin: auto;
}
.header__text{
    grid-column: 3 / 4;
    margin: auto;
    text-align: right;
}
.header__label{
    grid-column: 1 / 2;
}
.footer__label{
    grid-column: 3 / 4;
}
.footer__text{
    grid-column: 1 / 2;
    margin: auto;
}

.main{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
}
.navigation__block{
    background-color: antiquewhite;
    font-family: Gabriola, serif;
    display: grid;
    grid-template: 1fr / 1fr;
}
.navigation__block__content{
    margin: auto 0;
}
.navigation__label{
    font-size: 35px;
    line-height: 100px;
}
a{
    font-size: 20px;
    text-decoration: none;
    color: Maroon;
}
ul{
    margin: 0;
    padding: 15px;
    text-align: left;
    line-height: 28px;
    list-style-type: none;
    width: max-content;
}
.central__block{
    display: grid;
    grid-template-rows: minmax(55px, auto) 1fr;
    grid-template-columns: 1fr 220px;
    grid-template-areas:
        "up up"
        "left right";
}
.upper__block{
    grid-area: up;
    background-color: SeaShell;
    text-align: right;
    font-size: 15px;
    padding: 10px 15px;
}
.label{
    text-align: center;
    font-size: 30px;
}
.left__block{
    text-align: left;
    grid-area: left;
    display: grid;
    grid-template: 1fr / 1fr;
}
.left__block__content{
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
}
.min__max{
    grid-area: search;
    grid-column: 1/2;
    display: flex;
    /*padding-left: 20px;*/
}
.values__input{
    padding: 11px;
    font-size: 17px;
    color: dimgrey;
    border: 2px solid #D4D4D4;
    border-right: 0;
    background-color: white;
    width: 500px;
}
.values__input::placeholder{
    font-family: "Arial", serif;
    color: #D4D4D4;
}
.find__button{
    padding: 10px;
    background: white;
    color: #D4D4D4;
    font-size: 17px;
    border: 2px solid #D4D4D4;
    border-left: 0;
    cursor: pointer;
}
.save__table__button{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    background: white;
    color: #D4D4D4;
    font-size: 12px;
    border: 2px solid #D4D4D4;
    cursor: pointer;
}
.find__button:hover, .save__table__button:hover{
    background: #D4D4D4;
    color: white;
}
.right__block{
    grid-area: right;
    background-color: antiquewhite;
    padding: 10px;
    display: grid;
    grid-template: 1fr / 1fr;
}
.right__block__content{
    height: min-content;
}
.bold__text{
    margin: auto;
    height: 200px;
}
.add__row{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add__row__img{
    margin-top: 8px;
}
.min__max, .rectangle__square{
    margin: 20px;
}

@media (max-device-width: 800px) {

    .container{
        grid-template-rows: max-content max-content max-content;
    }

    .main{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "nav"
        "central";
    }
    .navigation__block{
        grid-area: nav;
    }
    .navigation__block__content{
        margin: auto;
    }
    .navigation__label{
        font-size: 40px;
        line-height: 50px;
    }
    a{
        font-size: 35px;
    }
    ul{
        text-align: center;
    }
    .central__block{
        grid-area: central;
        grid-template-rows: max-content max-content max-content max-content;
        grid-template-columns: 1fr;
        grid-template-areas:
        "up"
        "left"
        "right";
    }
    .label{
        font-size: 25px;
    }
    .left__block__content{
        padding: 10px 50px;
        font-size: 15px;
    }
    .bold__text{
        margin: 0;
        display: grid;
        grid-template: 1fr / 1fr;
    }
}